/* @font-face {
  font-family: Bebas;
  src: url(./Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto/Roboto-LightItalic.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto/Roboto-Italic.ttf);
} */